<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>ANIF - planificare taskuri</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <span th:text="${anunt}"></span>
    <div id="login-container" class="container container-fluid">
        <input id="login-container-username" name="login-container-username" placeholder="email">
        <input id="login-container-password" name="login-container-password" placeholder="parola" type="password">
        <input id="login-container-submit" name="login-container-submit" type="button" value="Conecteaza-te">
    </div>
    <div id="all-allocations-container">
    </div>
    <div id="my-allocations-container">
    </div>
</body>
</html>